@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Добро пожаловать в библиотеку!
        
    </h1>
    <h4>Для того, чтобы получить доступ к библиотеке, Вам необходимо войти под своим аккаунтом или зарегистрироваться.</h4>
</div>
